button {
    height: 30px;
    width: 100%;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: green;
    color: white;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

  body{
    margin: 5px;
    width: 200px;
  }