body {
  background-color: #0d91c5;
  color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.card {
  border-radius: 10px;
  width: 400px;
  height: 100px;
  margin: auto;
  padding: 10px;
  position: relative;
}

.shadow {
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.34);
}

span {
  font-size: large;
  color: yellow;
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.1s;
}

a.button1:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media all and (max-width:30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}